<settings>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>central</id>
          <name>DCA-Search</name>
          <url>http://dca-h-artifact-01.int.dca.ca.gov:8081/artifactory/DCASearch-Webservices</url>
          <layout>default</layout>
    	  <releases>
      		<enabled>true</enabled>
      		<updatePolicy>always</updatePolicy>
    	  </releases>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>DCA-Search</name>
          <url>http://dca-h-artifact-01.int.dca.ca.gov:8081/artifactory/DCASearch-Webservices</url>
          <layout>default</layout>
    	  <releases>
      		<enabled>true</enabled>
      		<updatePolicy>always</updatePolicy>
    	  </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>central</id>
          <name>DCA-Search</name>
          <url>http://dca-h-artifact-01.int.dca.ca.gov:8081/artifactory/DCASearch-Webservices</url>
          <layout>default</layout>
    	  <releases>
      		<enabled>true</enabled>
      		<updatePolicy>always</updatePolicy>
    	  </releases>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>DCA-Search</name>
          <url>http://dca-h-artifact-01.int.dca.ca.gov:8081/artifactory/DCASearch-Webservices</url>
          <layout>default</layout>
    	  <releases>
      		<enabled>true</enabled>
      		<updatePolicy>always</updatePolicy>
    	  </releases>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>