<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="path">//opt/rh/jboss-eap-7.0/standalone/log</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</Console>
		<File name="App-Appender" fileName="${path}/app_log.log">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="warn" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="gov.ca.dca.webservices" level="warn" additivity="false">
			<AppenderRef ref="App-Appender" />
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>